@font-face {
  font-family: 'PaperlogyRegular';
  src: url('../fonts/Paperlogy-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PaperlogySemiBold';
  src: url('../fonts/Paperlogy-6SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PaperlogyBold';
  src: url('../fonts/Paperlogy-7Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BabyShark';
  src: url('../fonts/Pinkfong Baby Shark Font_ Regular.ttf') format('truetype');
}
